* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #075eaf;
    font-size: 30px;
    color: white;
    padding: 20px 36px;
}

.content {
    display: flex;
    flex-direction: column;
}

.logo {
    height: auto;
    width: 150px;
    padding: 0px;
    margin: 0px;
}

.h-links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    font-family: 'Fredoka One';
}

a {
    text-decoration: none;
    color: white;
}

.row {
    padding: 100px 400px;
}

.row-1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #075eaf;
    color: white;
    padding: 50px 400px;
}

.column-1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 100px;
    max-width: 600px;
}

.column-1 button {
    align-self: flex-end;
    justify-self: flex-end;
}

.main-image {
    width: 350px;
    height: auto;
}

.title {
    font-size: 36px;
    margin-top: 0px;
    font-family: 'Sigmar One';
}

.description {
    font-size: 24px;
    font-family: 'Fredoka One';
}

button {
    background-color: #ed6a5a;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Fredoka One';
}

.row-2 {
    padding: 100px 200px;
    background-color: #f5dbb4;
    font-size: 20px;
    color: #472c07
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    font-family: 'Fredoka One';
}

.card {
    text-align: center;    
}

.card img {
    width: 250px;
    height: auto;
    border: 8px solid #ed6a5a;
    border-radius: 8px;
}

.row-3 {
    background-color: #ed6a5a;
    color: white;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    font-family: "Fredoka One"
}
    
.row-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: #f5dbb4;
    color: #472c07
}

.row-4 p {    justify-content: center;
    margin: 10px;
    padding: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #075eaf;
    font-size: 15px;
    color: white; 
}

.footer p {
    padding: 0px;
    margin: 1px;
}

@media all and (max-width: 768px) {
    .row {
        padding: 5% 10%;
    }
}

@media screen and (min-device-width: 600px) {
    .row {
        padding: 5% 10%;
    }
}